---
layout: default
title: The Crow's Nest
---

<div class="guidePage">
	<div class="guideCategory ultimate">
		<header class="guideCategoryHeader">
			<h1>Ultimates</h1>
		</header>
			{% include guideButton.html link="/ultimates/UCOB" title="Unending Coil of Bahamut" %}
			{% include guideButton.html link="/ultimates/UWU" title="The Weapon's Refrain" %}
			{% include guideButton.html link="/ultimates/TEA" title="The Epic of Alexander" %}
	</div>
	<div class="guideCategory savage">
		<header class="guideCategoryHeader">
			<h1>Eden's Promise : Savage</h1>
		</header>
			{% include guideButton.html link="/savages/eden/E9S" title="Eden's Promise : Umbra" %}
			{% include guideButton.html link="/savages/eden/E10S" title="Eden's Promise : Litany" %}
			{% include guideButton.html link="/savages/eden/E11S" title="Eden's Promise : Anamorphosis" %}
			{% include guideButton.html link="/savages/eden/E12S_Part1" title="Eden's Promise : Eternity (Part 1)" style="grid-column: span 3" %}
			{% include guideButton.html link="/savages/eden/E12S_Part2" title="Eden's Promise : Eternity (Part 2)" style="grid-column: span 3" %}
	</div>
</div>