---
layout: default
title: The Crow's Nest
---

{% comment %}
<hr><!-- Used to break the flex-wrap container into two rows-->
{% endcomment %}

<div class="guidePage">
	<div class="guideCategory ultimate">
		<header class="guideCategoryHeader">
			<h1>Ultimates</h1>
		</header>
			{% include guidebutton.html link="/ultimates/TOP" title="Reprise" %}
			{% include guideButton.html link="/ultimates/DSR" title="Dragonsong's Reprise" %}
			{% include guideButton.html link="/ultimates/TEA" title="The Epic of Alexander" %}
			{% include guideButton.html link="/ultimates/UWU" title="The Weapon's Refrain" %}
			{% include guideButton.html link="/ultimates/UCOB" title="Unending Coil of Bahamut" %}
	</div>
	<div class="guideCategory savage">
		<header class="guideCategoryHeader">
			<h1>Pandæmonium Abyssos : Savage</h1>
		</header>
			{% include guideButton.html link="/savages/pandaemonium/P5S" title="Abyssos - The Fifth Circle" %}
			{% include guideButton.html link="/savages/pandaemonium/P6S" title="Abyssos - The Sixth Circle" %}
			{% include guideButton.html link="/savages/pandaemonium/P7S" title="Abyssos - The Seventh Circle" %}
			{% include guideButton.html link="/savages/pandaemonium/P8S_Part1" title="Abyssos - The Eighth Circle (Part 1)" %}
			{% include guideButton.html link="/savages/pandaemonium/P8S_Part2" title="Abyssos - The Eighth Circle (Part 2)" %}
	</div>
	<div class="guideCategory savage">
		<header class="guideCategoryHeader">
			<h1>Pandæmonium Asphodelos : Savage</h1>
		</header>
			{% include guideButton.html link="/savages/pandaemonium/P1S" title="Asphodelos - The First Circle" %}
			{% include guideButton.html link="/savages/pandaemonium/P2S" title="Asphodelos - The Second Circle" %}
			{% include guideButton.html link="/savages/pandaemonium/P3S" title="Asphodelos - The Third Circle" %}
			{% include guideButton.html link="/savages/pandaemonium/P4S_Part1" title="Asphodelos - The Fourth Circle (Part 1)" %}
			{% include guideButton.html link="/savages/pandaemonium/P4S_Part2" title="Asphodelos - The Fourth Circle (Part 2)" %}
	</div>
	<div class="guideCategory savage">
		<header class="guideCategoryHeader">
			<h1>Eden's Promise : Savage</h1>
		</header>
			{% include guideButton.html link="/savages/eden/E9S" title="Eden's Promise : Umbra" %}
			{% include guideButton.html link="/savages/eden/E10S" title="Eden's Promise : Litany" %}
			{% include guideButton.html link="/savages/eden/E11S" title="Eden's Promise : Anamorphosis" %}
			{% include guideButton.html link="/savages/eden/E12S_Part1" title="Eden's Promise : Eternity (Part 1)" %}
			{% include guideButton.html link="/savages/eden/E12S_Part2" title="Eden's Promise : Eternity (Part 2)" %}
	</div>
</div>