/* Fonts */
$Roboto: 'Roboto', sans-serif;
$Eurostar: "eurostar", sans-serif;

/* Background Colors */
$bg-base : #292929 !default;
$bg-article : #373737 !default;
$bg-section : #414141 !default;
$bg-nav-hover : #eee !default;

$bg-categorytitle : #4d456b;
$bg-guidebutton : #292929;

$bg-guidetitle : #4d456b;

/* Site Nav*/
$nav-bg : #4d456b !default;
$nav-hover : #eee !default;

/* Side Nav */
$side-link-hover : #4a4a4b;
$side-border : #292929;
$side-border-shadow : black;

/* Font Colors */
$ft-base : #eee !default;
$ft-physical : #e69138;
$ft-magical : #378be5;
$ft-buff: #37e546;
$ft-debuff: #e53737;
$ft-spedebuff: #a252e3;
